.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbrand{
  background-color: black;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  
}
.title{
  text-decoration: none;
  color: #fff;
}
.profile{
  text-decoration: none;
  color: black;
  padding-left: 10px;
  margin-top: 20px;
}
.header-item a {

  margin: 0;
}


